<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Administrador de Juntas</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="css/estilo.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/fonts.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
<div id="page" class="container">
	<div id="header">
		<div id="logo">
			<a href="index.html"> <img src="../images/itm.png" alt="" /></a>
			<h1>Administración del Sistema de Control de Bitacoras</h1>
		</div>
		<div id="menu">
			<ul>
				<li class="current_page_item"><a href="index_admo.html">Inicio</a></li>
				<li><a href="reg_juntas.html" target="_blank">Registrar Junta</a></li>
				<li><a href="juntas.html">Juntas</a></li>
				<li><a href="profesores.html">Profesores</a></li>
                <li><a href="administradores.html">Administradores</a></li>
              <li><a href="#title">Cerrar Sesión</a></li>
			</ul>
		</div>
	</div>
	<div id="main">
	  <div id="featured">
		  <div class="title">
				<h2>Bienvendo Administrador</h2>
			</div>
            <div id="container">
              <p align="left">Bienvenido Administrador del sistema de control de juntas, estamos seguros que haras el uso correcto de eta plataforma en la cual podras hacer lo siguiente:</p>
              <p align="left">Dar de alta usurios, juntas y nuevos administradores.          </p>
              <p align="left">Agendar juntas proporcionandoles a los usuarios la visualizacion clara de los topicos de alas juntas a las cualeshn sido convocados.</p>
              <p align="left">Etc, etc.</p>
            </div>
		</div>
		<div id="copyright">
			<span>&copy; Derechos Reservados Instituto Tecnológico de Morelia</span>
		</div>
	</div>
</div>
</body>
</html>
